# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.build/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
